<body>
    <div class="container">
      <div class="row">
        <img style="display: block;
        margin-left: auto;
        margin-right: auto; float:none;"src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/desert2.jpg?alt=media&token=a1539777-51c5-463c-8c79-f0fac197c5e9">
      </div>
      <div class="row padbot">
        <p>Nurturing a desire  to agitate I stage protests in various forms and across media; insisting on the possibility of alterity and the importance of clearing space for other types of meaning. </p>
        <p>Someone has to.</p>
        <p>Contact: <a href="mailto:helenxmichael@gmail.com" target="_top">helenxmichael@gmail.com</a></p>
        <p>See also: <a href="https://www.amillionlovesongs.com/" target="_blank">a million love songs</a></p>
      </div>
      <div class="row padbot">
        <p class="nopad"><u>Education</u></p>
        <p class="nopad">M.A Fine Art, Royal College of Art, London  (2015)</p>
        <p class="nopad">BA Fine Art,  Central St Martins,  London (2012)</p>
      </div>
      <div class="row padbot">
        <p class="nopad"><u>Events and Exhibitions</u></p>
        <p class="nopad">2020</p>
        <ul>
          <li><b>I, Cactus And</b> - Show installation at Filet Space, London N17PQ</li>
        </ul>
        <p class="nopad">2019</p>
        <ul>
          <li><b>Fanatic II</b> - Performance at Jerwood Lates at The Jerwood Space, London SE1 0LN</li>
        </ul>
        <p class="nopad">2018</p>
        <ul>
          <li><b>A Million Love songs</b> - Duo show with Anastasia Mina at Korai Gallery, Nicosia, Cyprus</li>
          <li><b>She’s Quiet Because </b> - Performance at The European Camarade, Rich Mix, Lon</li>
          <li><b>Manifest</b> - Performance with AM at The European Poetry Festival, London SW1</li>
        </ul>
        <p class="nopad">2017</p>
        <ul>
          <li><b>Whats App Fanatic</b> - Performance with AM at Florence Trust Live Summer Programme</li>
          <li><b>Manifest</b> - screened as part of 62nd International Short Film  Festival, Oberhausen</li>
          <li><b>Love Songs part I</b> - Performance with AM at Florence Trust Live Winter, London N5</li>
        </ul>
        <p class="nopad">2016</p>
        <ul>
          <li><b>Advice Column</b> - in association with <b>DIRT</b>: ArtLicks Weekend 2016, London EC1</li>
          <li><b>Fixit</b> - Performance with Susannah Stark, Draft House, Battersea, London SW11</li>
          <li><b>Malevolent Mountains (film)</b> - Open Screening, Whitechapel Gallery</li>
          <li><b>Selective Mutism</b> - Paper Publication Performance, Lychee One, London E2</li>
          <li><b>Malevolent Mountains (film)</b> - Performance with stones and plinth, Live at Lychee One Gallery, London E2</li>
          <li><b>Space Bat</b> - performed as part of Paper, Publication, Performance show at Lychee One Gallery, London</li>
        </ul>
        <p class="nopad">2015</p>
        <ul>
          <li><b>Show 15</b> - MA Fine Art Show, Royal College of Art, London</li>
          <li><b>Lean to</b> - Tenderbooks, London</li>
          <li><b>Could you please re-think understanding</b> - 12 Star Gallery, London</li>
          <li><b>Standstill</b> - (Transforming 1 of 3) performance at Dyson Gallery, London, SW11</li>
        </ul>
        <p class="nopad">2013</p>
        <ul>
          <li><b>IN-visible &amp;React</b> - Café Gallery Projects, London</li>
        </ul>
      </div>
    </div>
 
</body>
