  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
          <img style="width:100%; margin-top: 1em;"src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/advice%20column-min-min.jpg?alt=media&token=08a01c0d-2d02-4530-a34a-f32eccc4e152" alt=""/>
      </div>
      <div class="col-3">
          <p><strong><u>Events</u></strong></p>
          <p>1 July 17 <br>
      whats app fanatic <br>
      16:00 Performance with Anastasia Mina <br>
      Florence Trust Live Programme <br>
      <br>
      18 March 17 <br>
      Manifest - performance with video, stones and plinth <br>
      Live at Lychee One <br>
      Lychee One Gallery, London E2 <br>
      
      <br>
      5 February 17 <br>
      Love Songs part I <br>
      15:00 Performance with Anastasia Mina <br>
      Florence Trust  London N5 <br>
      
      <br>
      
      30 September 16 <br>
      Advice Column <br>
      DIRT: ArtLicks Weekend <br>
      387 City Road, London EC1 <br>
      
      <br>
      24 June 16 <br>
      Fixit <br>
      18:30 Performance with Sussanah Stark <br>
      Draft House, Battersea <br>
      <br>
      16 June 16 <br>
      Malevolent Mountains <br>
      Open Screening <br>
      Whitechapel Gallery <br>
      <br>
      15- 20 May 16 <br>
      Selective Mutism<br>
      Paper Publication Performance<br>
      Lychee One, London E2<br>
      <br>
      16 May 16<br>
      Space Bat<br>
      Performance Installation<br>
      Elsewhere<br>
      Lychee One, London E2<br>
      <br>
      5-10 March 16<br>
      Malevolent Mountains<br>
      Oberhausen Film Festival<br>
      Screening<br>
      </p>
      </div>
      <div class="col-3">
        <img style="max-width:10em;" src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/whatsapp_fanatic-min.png?alt=media&token=11a3631b-d5f5-49ed-8ed6-288f42350cb0" alt="">
        <br>
        <img style="max-width:10em;" src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/manifest_img-min.png?alt=media&token=96e0166e-fd11-4df3-ab80-8b0fd154b44c" alt="">
        <br>
        <img style="max-width:10em;" src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/florence_trust2-min.png?alt=media&token=b0a9837a-8a91-4cf6-a9c8-190330c97cc9" alt="">
        <br>
        <img style="max-width:10em;" src="https://firebasestorage.googleapis.com/v0/b/test-27cbf.appspot.com/o/mic-min.png?alt=media&token=97fb2dd7-49af-446c-ba08-a726e20d72e1" alt="">
      </div>
    </div>
  </div>
  </body>