body {
    margin: 40px;
  }
  
  .wrapper {
    margin-top: 3em;
    display: grid;
    margin-left: 2.5%;
    margin-right: auto;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    color: #444;
  }
  
  .box {
    padding: 1em;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    max-width: 32em;
    max-height: 16em;
    padding: 1em;
  }
  
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }